
/* CSS 活动的公共样式 */
.left{ float:left;}
.right{ float:right;}
.display{ display:inline;}
.display_no{ display:none;}
.display_bk{ display:inline-block;}
.overflow{ overflow:hidden;}
.text_center{ text-align:center;}
.text_right{ text-align:right;}
.web_widht{ width:1200px; margin:0 auto;}/* 网页的内容宽 */
.relative{ position:relative;}
.absolute{ position:absolute;}
.pointer{cursor: pointer}

/* CSS 边距 */
.m_t10{ margin-top:10px;}
.m_t20{ margin-top:20px;}
.m_t25{ margin-top:25px;}
.m_l10{ margin-left:10px;}
.m_l20{ margin-left:20px;}
.m_b10{ margin-bottom:10px;}
.m_b20{ margin-bottom:20px;}
.m_auto{ margin:0 auto;}
.p_t10{ padding-top:10px;}
.p_t20{ padding-top:20px;}
.p_l10{ padding-left:10px;}
.p_l20{ padding-left:20px;}
.p_b10{ padding-bottom:10px;}
.p_b20{ padding-bottom:20px;}
.p_tb50{ padding:50px 0;}
.p_10{ padding:10px;}
.p_20{ padding:20px;}
.p_30{ padding:30px;}
.pb80 {
    padding-bottom:80px;
}
/* 字体 */
.tahoma{font-family:"Tahoma"; }
.arial{font-family:"Arial, Helvetica, sans-serif";}
.verdana{font-family:Verdana, Geneva, sans-serif;}
.yahei{font-family:"Microsoft yahei";}

/* 字体大小 */
.font10{ font-size:10px;}
.font11{ font-size:11px;}
.font12{ font-size:12px;}
.font13{ font-size:13px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font24{ font-size:24px;}
.font30{ font-size:30px;}
.font36{ font-size:36px;}
/* 字体颜色 */
.green,.green a{ color:#00bf70;}
.green a:hover{color:#000;}
.red,.red a{ color:#F00;}
.red a:hover{color:#000;}
.orange,.orange a{ color:#ff9900;}
.orange a:hover{color:#000;}
.blue,.blue a{ color:#33ccff;}
.blue a:hover{color:#33ccff;}
.color_0{ color:#000;}
.color_3{ color:#333;}
.color_6{ color:#666;}
.color_9{ color:#999;}
.color_c{ color:#CCC;}
.color_f{ color:#fff;}

/* 行高 */
.lh_16{ line-height:16px;}
.lh_18{ line-height:18px;}
.lh_21{ line-height:21px;}
.lh_25{ line-height:25px;}
.lh_30{ line-height:30px;}

.back_custom{ background:#02A2AA} // 添加

